<% content_for :title, "Editing chat" %>

<h1>Editing chat</h1>
<%= turbo_frame_tag "chat" do%>
<%= render "form", chat: @chat %>

<br>
<%end%>

<div>
  <%= link_to "Show this chat", @chat %> |
  <%= link_to "Back to chats", chats_path %>
</div>
